* {
    font-family: Helvetica, Verdana, sans-serif;
    color: aliceblue;
}

body {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    min-height: 176px;
    margin: auto;
    padding: 50px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(60, 48, 71);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#results {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin: 15px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btns {
    border-radius: 7px;
    font-size: 18px;
    color: black;
    padding: 5px 10px;
}

.scores {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 10px;
}